HC_RELEASE_DIR =
HC_DIST_DIR =
HC_WEB_STAGE_DIR =

signing.gnupg.keyName=

# ASF user name for SVN authentication
asf.svn.user=

# Use plain console
org.gradle.console=plain
# Keep it quiet
org.gradle.logging.level=quiet
