HC_RELEASE_DIR =
HC_DIST_DIR =
HC_WEB_STAGE_DIR =

signing.gnupg.keyName=

# Use plain console
org.gradle.console=plain
# Keep it quiet
org.gradle.logging.level=quiet
# Disable daemon
org.gradle.daemon=false